<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Angular Multiselect</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="angular-multiselect.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
  </head>
  <body ng-app="demo">

    <div ng-controller="demoSimpleCtrl">

      <h1>Angular Multiselect</h1>

      <multiselect
        model="myThing"
        options="awesomeThings"
        title="Pick some things!"
      ></multiselect>
    </div>


    <div ng-controller="demoDisabledCtrl">

      <h2>Disable Choices</h2>

      <multiselect model="disabledThings" options="terribleThingsCopy"></multiselect>
      <multiselect model="yourThing" options="terribleThings"></multiselect>
    </div>


    <div ng-controller="demoTemplateCtrl">

      <h2>Custom Template</h2>

      <multiselect
        model="myThings"
        options="awesomeThings"
        template-url="custom-template.html"
      ></multiselect>

      <p>Selected:   <ul><li ng-repeat="item in myThings">{{item.label}}</li></ul>

      <script type="text/ng-template" id="custom-template.html">
        <label ng-repeat="choice in options">
           {{choice.label}}
           <input
            type="checkbox"
            ng-model="choice.selected"
            ng-change="updateModel()"
            ng-disabled="choice.disabled"/>
        </label>
      </script>
    </div>

    <div ng-controller="dynamicCtrl">

      <h1>Dynamic options</h1>

      <h2>Pick from</h2>
      <multiselect model="pickedThings" selected="simpleList" options="awesomeThings"></multiselect>

      <h2>To populate</h2>
      <multiselect model="myThing" options="pickedThings"></multiselect>

      <h2>To populate from simple list</h2>
      <multiselect model="myThang" options="simpleListCopy"></multiselect>
    </div>

    <script src="lodash/dist/lodash.js"></script>
    <script src="angularjs/angular.js"></script>
    <script src="angular-multiselect.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
